// font-family: 'Roboto', sans-serif;
// font-family: 'Open Sans', sans-serif;
body, html {
	margin: 0;
	padding: 0;
}
.weatherRoot {
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}
.weatherRootSection {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 0 30px 20px 30px;
	text-align: center;
	border-radius: 15px;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
	cursor: pointer;
}
li:hover {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}
header {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-size: 50px;
}
.weatherInput {
	text-align: center;
    font-size: 25px;
    padding: 5px;
    margin: 2px;
    font-family: 'Roboto', sans-serif;
    width: 50%;
}
footer {
	position: absolute;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.2);
	text-align: center;
	width: 100%;
}
footer a {
	text-decoration: none;
	color: #B4D455;
}