body {
  background-image: url("../../images/temp_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif; }

.weatherRoot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column; }

.weatherRootSection {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 30px; }

header {
  text-align: center;
  font-family: 'Roboto', sans-serif; }

h1 {
  font-size: 50px; }

.weatherInput, button {
  text-align: center;
  font-size: 15px;
  padding: 5px;
  margin: 2px;
  font-family: 'Roboto', sans-serif; }

footer {
  position: absolute;
  bottom: 0; }
