body, html {
  margin: 0;
  padding: 0; }

.weatherRoot {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.weatherRootSection {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0 30px 5px 30px;
  text-align: center;
  border-radius: 15px; }

ul {
  margin: 0;
  padding: 0;
  overflow: auto;
  max-height: 54vh; }

li {
  list-style: none;
  cursor: pointer;
  border-bottom: 0.7px solid #eee; }

li:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff; }

li:last-child {
  border-bottom: none; }

header {
  text-align: center;
  font-family: 'Suravaram', serif; }

h1 {
  font-size: 50px; }

h1, h2, h3, h4 {
  margin: 5px 0; }

label {
  display: none; }

.weatherInput {
  text-align: center;
  font-size: 25px;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  width: 75%;
  background-color: transparent; }

footer {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  width: 100%;
  font-family: 'Open Sans', sans-serif; }

footer a {
  text-decoration: none;
  color: #000;
  font-weight: bold; }

footer a:hover {
  color: #B4D455; }

@media (max-width: 736px) {
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 20px; }
  h3 {
    font-size: 15px; }
  h4 {
    font-size: 15px; }
  .weatherInput {
    font-size: 15px;
    padding: 2px;
    margin: 0; }
  li {
    font-size: 13px; }
  footer {
    font-size: 10px; } }

@media (max-width: 568px) {
  ul {
    height: 25vh; }
  .weatherRootSection {
    border-radius: 0px; } }
